<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
	<setting label="32011" type="text"   id="tvdb_username"/>
	<setting label="32012" type="text"   id="tvdb_password" option="hidden"/>        
	<setting type="sep"/>
	<setting label="32013" type="slider" id="percentage_limit" default="80" range="0,100" option="percent"/>
	<setting label="32014" type="bool" id="rate_if_previous" default="false"/>
	<setting label="32015" type="bool" id="get_previous" default="true"/>
    </category>
</settings>
